@model WebStore.Domain.ViewModels.ChangePasswordViewModel

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>Сменить пароль</h2>
                <div class="signup-form">
                    <form asp-action="ChangePassword" asp-controller="Account">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="@Model.UserName" placeholder="Имя" />                        

                        <input asp-for="CurrentPassword" placeholder="Текущий пароль" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>

                        <input asp-for="NewPassword" placeholder="Новый пароль" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>

                        <button type="submit" class="btn btn-default">Сменить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>