<div class="sidebar-collapse">
    <ul class="nav" id="main-menu">

        <li>
            <a asp-area="Admin" asp-controller="Catalogue" asp-action="Index"><i class="fa fa-qrcode "></i>Каталог</a>
        </li>

        <li>
            <a asp-area="Admin" asp-controller="Orders" asp-action="Index"><i class="fa fa-qrcode "></i>Заказы</a>
        </li>

        <li>
            <a href="#"><i class="fa fa-bar-chart-o"></i>My Link Two</a>
        </li>

        <li>
            <a href="#"><i class="fa fa-edit "></i>My Link Three </a>
        </li>

    </ul>
</div>
<!-- /. NAV SIDE  -->
