@model IEnumerable<WebStore.Domain.ViewModels.OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<div class="container">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <td>Номер</td>
                    <td>Пользоматель</td>
                    <td>Дата</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    <tr>
                        <td>@order.Id</td>
                        <td>@order.Name</td>
                        <td>@order.Date</td>
                        <td><a asp-action="OrderDetail" asp-route-id="@order.Id">Подробнее</a></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>